body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .search-container { 
    display: flex;
  }

  .nav input[type=text] {
    padding: 6px;
    width: 100%;
  }
  
  .nav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #000;
    font-size: 17px;
    border: solid 1px #BE8E31;
    color: #BE8E31;
  }