* {
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: white;
    font-size: 4rem;
    margin: 30px 0;
}

h2 {
    font-size: 3rem;
    margin: 0;
}

h3 {
    font-size: 2rem;
    margin: 0 0 20px 0;
}

.nav {
    background-color: #222222;
    padding: 10px;
}

.nav-logo {
    background-color: #c78c06;
}

/* nav section with three ul elements without bullets */
nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: block;
    text-align: center;
    padding: 20px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #c78c06;
    vertical-align: middle;
}

.nav-links ul li:hover {
    background-color: #c78c06;
}

.nav-links ul li:hover a {
    color: #222222;
}

.search {
    width: 100%;
}

.search-container input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 90%;
    background: #f1f1f1;
    border-radius: 3px;
}

.search-container button {
    float: right;
    width: 10%;
    padding: 8px;
    background: #222;
    color: #c78c06;
    font-size: 20px;
    border: 1px solid #c78c06;
    cursor: pointer;
}


form.search-container::after {
    content: "";
    clear: both;
    display: table;
}


.welcome {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('../images/main-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 65px 0 65px 0;
}

.blackblock {
    padding: 15px;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #000000b2;
}

.white-text {
    color: #fff;
}

.yellow-btn {
    padding: 15px 30px;
    background-color: #c78c06;
    display: inline-block;
    font-size: 1.2rem;
}

.yellow-btn a {
    color: #222222;
    text-decoration: none;
}

.aboutus {
    background-color: #ffe6ac;
}

.aboutus img {
    width: 100%;
}

.ourservices {
    padding: 20px 0 0 0;
}

.services-text {
    background-color: #ffe6ac;
    padding: 15px;
    margin: 0 0 20px 0;
}

.services-img img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: block;
}

.black-btn {
    padding: 10px 30px;
    background-color: #222;
    display: inline-block;
    font-size: 1.2rem;
}

.black-btn a {
    color: #fff;
    text-decoration: none;
}

.ourvision {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('../images/vision.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
}

.wrapper {
    padding: 20px;
}

.blue-btn {
    padding: 10px 30px;
    background-image: linear-gradient(to right, #0F1828, #1C2B42);
    display: inline-block;
    border: 1px solid #c78c06;
    font-size: 1.2rem;
}

.blue-btn a {
    color: #fff;
    text-decoration: none;
}

.ourteam {
    padding: 20px 0 0 0;
}

.ourteam img {
    width: 100%;
    height: auto;
    margin: 20px 0 0 0;
    padding: 0;
    display: block;
}

.johntable div:last-child,
.bobtable div:last-child {
    background-color: #ffe6ac;
    padding: 15px;
    margin: 0 0 20px 0;
}

.ourteam h4 {
    margin: 5px 0 0 0;
}

.ourteam hr {
    background-color: #c78c06;
    height: 2px;
    border: none;
}

.contact {
    padding: 20px;
}

.contact #fullname,
#email,
textarea {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.contact textarea {
    height: 150px;
    vertical-align: top;
}

.contact button {
    background-color: #222;
    color: #c78c06;
    padding: 5px;
    margin: 10px 0 0 0;
    border: none;
    font-size: 1.3rem;
}

.contactus,
.hours-operation,
.hours {
    margin: 20px 0;
}

.hours {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9rem;
}

.hours th {
    background-color: #ffe6ac;
    padding: 15px;
    font-weight: normal;
    border-bottom: 1px solid #000;
}

.hours th:first-child {
    width: 60%;
    border-right: 1px solid #000;
}

.hours td {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 15px;
}


.map iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

.links {
    color: #c78c06;
}

footer {
    background-color: #222222;
    color: #c78c06;
    padding: 15px 10px 5px 10px;
    font-size: 0.9rem;
}

@media screen and (min-width: 760px) {
    .container {
        max-width: 1200px;
    }

    .wrapper { 
        padding: 10px 70px;
    }

    .nav,
    .nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-logo {
        background-color: none;
    }

    .blackblock {
        margin: 0 130px;
        padding-right: 170px;
    }
    
    .aboutus > .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .aboutus > .wrapper img  {
        float: left;
    }

    .container-padding,
    .contact {
        padding: 10px 70px;
        max-width: 1200px;
    } 

    .services {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
          "s1 s1 s1 s2 s2 s2"
          "s3 s3 s4 s4 s5 s5"
          ;
    }

    .services .digital-transformation {
        grid-area: s1;
    }
    
    .services .marketing{
        grid-area: s2;
    }
    
    .services .video {
        grid-area: s3;
    }
    
    .services .webdev{
        grid-area: s4;
    }
    
    .services .print {
        grid-area: s5;
    }

    .services-text {
        margin: 0 0 0 0;
    }

    .johntable div:last-child,
    .bobtable div:last-child {
        margin: 0;
    }

    .ourteam img {
        margin: 0;
        
    }
        
    .ourteam .johntable {
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-template-areas:
          "j1 j2"
          ;
    }

    .johntable .johnrow:nth-child(1) {
        grid-area: j1;
    }
    
    .johntable .johnrow:nth-child(2) {
        grid-area: j2;
    }

    .ourteam .bobtable {
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-template-areas:
          "b2 b1"
          ;
    }

    .bobtable .bobrow:nth-child(1) {
        grid-area: b1;
    }
    
    .bobtable .bobrow:nth-child(2) {
        grid-area: b2;
    } 
    
    .contact {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr ;
        grid-template-areas:
          "sm1 gm3"
          "o2 o2"
          ;
    }

    .sendmessage {
        grid-area: sm1;
    }
    
    .hours-operation {
        grid-area: o2;
    }
    
    .location {
        grid-area: gm3;
    }
   
}